.container{"ng-controller" => "StageCtrl"}
  %div{"ng-show" => "false", "ng-init" => "load('#{@resource.id}')"}

  .row
    .col-lg-12
      = render "units/stage_billboard"

  .row{"ng-if" => "stage.isEditing"}
    .col-lg-12
      = render "units/stage_fields"

  .row{"ng-if" => "!stage.isEditing && !openedTask()"}
    .col-lg-12
      = render "units/task_filter"

  .row{"ng-if" => "!stage.isEditing"}
    .col-lg-8
      = render "units/tasks"

    .col-lg-4{"ng-show" => "openedTask() && openedTask().id"}
      = render "units/comments"
            