!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : Rails.application.class.parent_name
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    :javascript
      var aToken = '#{form_authenticity_token}';
  %body{"ng-app" => "tazk"}
    = yield
          